{% extends "beheerder/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div id="body_dashboard">
    
    <div id="dashboard_content">
      
        <div id="grey_background" class="d-flex flex-column flex-shrink-0 mr-3 p-3" style="width: 280px;">
          
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  Ervaringsdeskundigen
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  Onderzoeken
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  Beheerders
                </a>
              </li>
            </ul>
            <hr>
          </div>
          <div style="margin-left: 15px;">
            <h1 style="margin-left: 15px;">Welkom {{ user.first_name}}  {{ user.last_name}}!</h1>
            <div id="stat_cards">
                <div class="card_stat">
                    <h3>Aantal onderzoeken</h3>
                    <p class="number">113</p>
                </div>
                <div class="card_stat">
                    <h3>Aantal ervaringsdeskundigen</h3>
                    <p class="number">276</p>
                </div>
                <div class="card_stat">
                    <h3>Aantal beheerders</h3>
                    <p class="number">35</p>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div id="card" class="container m-3 p-1">
                    <table class="table">
                      <h2 class="p-3">Beheerders in afwachting</h2>
                        <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Email</th>
                            <th scope="col">Functie</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for admin in pending_admins %}
                        <tr>
                            <td><a href="/beheerder/checkout_admin/{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name}}</a></td>
                            <td>{{ admin.email }}</td>
                            <td>{{ admin.functie }}</td>
                            <td>{% if admin.status == 1 %}In afwachting... {% endif %}</td>
                            <td><a class="btn btn-primary" href="change_status/{{ admin.id }}/approved">Keur goed</a></td>
                            <td><a class="btn btn-primary" href="change_status/{{ admin.id }}/declined">Keur fout</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="card" class="container m-3 p-1">
                  <table class="table">
                    <h2 class="p-3">Ervaringsdeskundigen in afwachting</h2>
                      <thead>
                      <tr>
                          <th scope="col">Naam</th>
                          <th scope="col">Email</th>
                          <th scope="col">Functie</th>
                          <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for admin in pending_admins %}
                      <tr>
                          <td><a href="/beheerder/checkout_admin/{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name}}</a></td>
                          <td>{{ admin.email }}</td>
                          <td>{{ admin.functie }}</td>
                          <td>{% if admin.status == 1 %}In afwachting... {% endif %}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div> 
            <div class="d-flex justify-content-center align-items-center">
              <div id="card" class="container m-3 p-1">
                  <table class="table">
                    <h2 class="p-3">Onderzoeken in afwachting</h2>
                      <thead>
                      <tr>
                          <th scope="col">Naam</th>
                          <th scope="col">Email</th>
                          <th scope="col">Functie</th>
                          <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                          {% for admin in pending_admins %}
                      <tr>
                          <td><a href="/beheerder/checkout_admin/{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name}}</a></td>
                          <td>{{ admin.email }}</td>
                          <td>{{ admin.functie }}</td>
                          <td>{% if admin.status == 1 %}In afwachting... {% endif %}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div id="card" class="container m-3 p-1">
                  <h2 class="p-3">To do:</h2><br>
                  <p>heel veel</p>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="hatsieflatsie"> <br><br><br></div>
{% endblock %}

