<div id="grey_background" class="d-flex flex-column flex-shrink-0 mr-3 p-3" style="width: 280px;">
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link dark">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  Ervaringsdeskundigen
                </a>
              </li>
              <li>
                <a href="{% url 'onderzoeken' %}" class="nav-link active" aria-current="page" >
                  Onderzoeken
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  Beheerders
                </a>
              </li>
            </ul>
            <hr>
          </div>