{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<script>
    function applyFilter(){
        var filterType = document.getElementById('filterType').value;

        var rows = document.querySelectorAll('tbody tr');
        rows.forEach(function (row) {
            var isStaff = row.cells[3].innerText.toLowerCase() === 'true';
            var isSuperuser = row.cells[2].innerText.toLowerCase() === 'true';

            if (filterType === 'is_staff' && !isStaff) {
             row.style.display = 'none';
            } else if (filterType === 'is_superuser' && !isSuperuser){
                row.style.display = 'none';
            } else {
                row.style.display = '';
            }
        }
    );
    }

</script>
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="test">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/beheerder/dashboard" class="nav-link menu_text">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/beheerder/onderzoeken" class="nav-link menu_text">
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a  href="/beheerder/users" class="nav-link active" aria-current="page">
                    Gebruikers
                  </a>
                </li>
              </ul>
              <hr>
            </div>
        </nav>


        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div class="text-center" style="padding-top: 20px;">
            <div>
                  <div id="search" style="height: 20px;">
                    <a  style="margin-right: 20px;" onclick="toggleTheme()"><i class="fa-solid fa-circle-half-stroke"></i>      Switch thema </a>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                        <li><a class="dropdown-item" href="/beheerder/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Instellingen</a></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/edit_profile">Profiel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                  </div>
                  <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>

                  <div id="approved_alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="notification-container" class="mb-0 ml-auto"></p>
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>



            </div>
            <br>
          <div class="d-flex justify-content-center align-items-center">
              <div id="card" class="container m-3 p-1">
                  <form id="filterForm" class="mb-3">
                    <label for="filterType">Filter op:</label>
                    <select id="filterType" class="form-select">
                        <option value="all">Alle Gebruikers</option>
                        <option value="is_staff">Is Medewerker</option>
                        <option value="is_superuser">Is Beheerder</option>
                    </select>
                    <button type="button" class="btn btn-primary" onclick="applyFilter()">
                         Filteren
                    </button>
                  <table class="table">
                    <h2 class="p-3">Alle Gebruikers</h2>
                      <thead>
                      <tr>
                          <th scope="col">Voornaam</th>
                          <th scope="col">Achternaam</th>
                          <th scope="col">Is beheerder</th>
                          <th scope="col">Is medewerker</th>
                          <th scope="col">Datum Deelname</th>
                          <th scope="col">Actie</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for user in all_users %}
                            <tr>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.is_superuser }}</td>
                                <td>{{ user.is_staff }}</td>
                                <td>{{ user.date_joined }}</td>
                                <td>
                                    <a href="" class="btn btn-primary">Bewerken</a>
                                    <a href="" class="btn btn-danger">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                          {% for admin in pending_admins %}
                      <tr>
                          <td><a href="/beheerder/checkout_admin/{{ admin.id }}">{{ admin.first_name }} {{ admin.last_name}}</a></td>
                          <td>{{ admin.email }}</td>
                          <td>{{ admin.functie }}</td>
                          <td>{% if admin.status == 1 %}In afwachting... {% endif %}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
                      </tbody>
                  </table>
              </div>
      </main>
    </div>
    </div>
    </div>
</div>

{% endblock %}