{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}


{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="test">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/ervaringsdeskundige/dashboard"  class="nav-link link-dark">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/ervaringsdeskundige/onderzoeken" class="nav-link active" aria-current="page">
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a href="registered_investigations" class="nav-link link-dark">
                    Ingeschreven onderzoeken
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-dark">
                    Afgeronde onderzoeken
                  </a>
                </li>
              </ul>
              <hr>
            </div>
        </nav>

        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div style="padding-top: 20px;">
            <div id="card"  class="m-4 p-4">
              <table class="table p-3">
                <h2 class="p-2 text-center">Onderzoeken</h2>
                <p class="text-center" style="margin-left: 10px;"><em>Deze onderzoeken zijn afgestemt op jou beschikbaarheid, ervaring en leeftijd</em></p>
                  <thead>
                  <tr>
                      <th class="float-left" scope="col">Titel</th>
                      <th class="float-left" scope="col">Omschrijving</th>
                      <th class="float-left" scope="col">Beloning</th>
                      <th class="float-left" scope="col">Beperking</th>
                      <th class="text-center" scope="col">Aanmelden</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for investigation_id, data in investigations.items %}
                        <tr>
                    <td>{{ data.onderzoek.titel }}</td>
                    <td>{{ data.onderzoek.omschrijving }}</td>
                    <td>{% if data.onderzoek.met_beloning == 1 %}
                            {{ data.onderzoek.beloning }}
                        {% else %}
                            Geen beloning beschikbaar
                        {% endif %}</td>
                    <td>
                      <div style="width: 200px;" class="text-wrap">
                          {% for limitation in data.beperkingen %}
                              {{ limitation.omschrijving }}{% if not forloop.last %},{% endif %}
                          {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">
                        <form method="post" action="investigation/{{ data.onderzoek.onderzoeks_id }}">
                          {% csrf_token %}
                          {% if data.status == 0 %}
                          <button type="submit" class="btn btn-primary">Meld aan</button>
                          {% endif %}
                        </form>
                          {% if data.status == 1 %}
                          <button class="btn btn-success">Ingeschreven</button>
                          {% endif %}
                    </td>
                  </tr>
                    {% endfor %}
                  </tbody>
                  
              </table>
          </div>
            </div>
      </main>
    </div>
    </div>
    </div>
</div>
{% endblock %}


