{% extends "home/base.html" %}
{% block title %}Registreren{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
    <h2 class="mb-0">Registreren als Ervaringsdeskundige</h2>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Oeps! Er zijn enkele fouten opgetreden:</strong>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Registreren">
        </form>
        </div>
      </div>
    </div>
{% endblock %}