{% extends "home/base.html" %}
{% block title %}Registreren{% endblock %}

{% block content %}
<div class="container">
<h1>Registreer als Ervaringsdeskundige:</h1>
<form action="" method="POST">
  <div class="container">
    <div class="form-group d-inline col-2">
  Gebruikersnaam:
  <input id="username" type="text"><br>
  Voornaam:
<input id="voornaam" type="text">
    </div>
<div class="form-group col-2">
  Achternaam:
    <input id="achternaam" type="text">
  Postcode:
    <input id="postcode" type="text">
</div>
<div class="form-group">
    Geslacht:<br>
    <label>
    Man
    <input type="radio" checked="checked" value="Man" name="geslacht">
    </label>
    <label>
    Vrouw
    <input type="radio" value="Vrouw" name="geslacht">
    </label>
</div>
<div class="form-group">
  Geboortedatum:
  <input id="geboortedatum" name="geboortedatum" type="date">
  Beperking:
  <input id="beperking" name="beperking" type="text">
  Hulpmiddelen:
  <input id="hulpmiddelen" name="hulpmiddelen" type="text"><br>
</div
<div class="form-group">
<label for="onderzoek">Type onderzoek:</label>

<select id="onderzoek" name="onderzoek" >
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
</select><br>
</div>
<div class="form-group">
<label for="benadering">Voorkeur benadering:</label>

<select id="benadering" name="benadering">
  <option value="">Telefonisch</option>
  <option value="">Per mail</option>
  <option value="">Op locatie</option>
  <option value=""></option>
</select>
    <br></div>
      <div class="form-group">
  Beschikbaarheid:
  <input name="beschikbaarheid" id="beschikbaarheid" type="date">
  Bijzonderheden:
  <input name="bijzonderheden" id="bijzonderheden" type="text">
      </div>
  <div class="form-group">
  Toezichthouder:
  <input name="toezichthouder" id="toezichthouder" type="text">
  Naam voogd:
  <input id="naamvoogd" name="naamvoogd" type="text"><br>
  </div>
      <div class="form-group">
  Telefoonnummer voogd of toezichthouder:
  <input id="telvt" type="tel">
  Wachtwoord:
  <input id="password" type="password">
  </div>
  <input class="btn btn-primary" type="submit" value="Registreren">
  </div>
</form>
</div>
{% endblock %}