{% extends "home/base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
<h1>Registreer als Ervaringsdeskundige:</h1>
<form action="POST">
  <div class="container">
    <div class="d-inline col-2">
  Gebruikersnaam:
  <input id="username" type="text"><br>
  Voornaam:
<input id="voornaam" type="text">
    </div>
<div class="col-2">
  Achternaam:
    <input id="achternaam" type="text">
  Postcode:
    <input id="postcode" type="text">
</div>
Geslacht:<br>
    Man
    <input type="radio" checked="checked" value="Man" name="geslacht">
    Vrouw
    <input type="radio" value="Vrouw" name="geslacht">
  Geboortedatum:
  <input id="geboortedatum" type="date">
  Beperking:
  <input id="beperking" type="text">
  Hulpmiddelen:
  <input id="hulpmiddelen" type="text"><br>
<label for="type onderzoek">Type onderzoek:</label>

<select id="onderzoek">
  <option value="">1</option>
  <option value="">2</option>
  <option value="">3</option>
  <option value="">4</option>
</select><br>

<label for="type benadering">Voorkeur benadering:</label>

<select id="benadering">
  <option value="">Telefonisch</option>
  <option value="">Per mail</option>
  <option value="">Op locatie</option>
  <option value=""></option>
</select>
<br>
  Beschikbaarheid:
  <input id="geboortedatum" type="date">
  Bijzonderheden:
  <input id="bijzonderheden" type="text">
  Toezichthouder:
  <input id="toezichthouder" type="text">
  Naam voogd:
  <input id="toezichthouder" type="text"><br>
  Telefoonnummer voogd of toezichthouder:
  <input id="toezichthouder" type="tel">
  Wachtwoord:
  <input id="password" type="password">
  <input type="submit" value="submit">
  </div>
</form>
</div>
{% endblock %}