<h2 class="text-center border-bottom pb-1 text-break">Organisaties: {{ count_organization }}</h2>
{% for item in organization %}
<div id="{{ item.organisatie_id }}" class="card mb-3 md-2" style="cursor: pointer;" tabindex="0" onclick="location.href='dashboard/organization/{{ item.organisatie_id }}';">
    <div class="card-body">
        <h5 class="card-title text-center">{{ item.voornaam }} {{ item.achternaam }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary text-center">KVK: {{ item.kvk }}</h6>
        <ul class="list-group list-group-flush">
            {% if item.type == '1' %}
            <li class="list-group-item">Type: Commerciëel</li>
            {% elif item.type == '2' %}
            <li class="list-group-item">Type: Non-profit</li>
            {% endif %}
            <li class="list-group-item">Contact persoon: {{ item.contact_persoon }}</li>
            <li class="list-group-item">E-mail: {{ item.email }}</li>
            <li class="list-group-item">Telefoonnummer: {{ item.telefoonnummer }}</li>
            <li class="list-group-item">Website: {{ item.website }}</li>
            <li class="list-group-item text-center">
                <a href="/#" class="btn btn-primary">Keur goed</a>
                <a href="/#" class="btn btn-primary">Keur af</a>
                <a href="/#" class="btn btn-danger">verwijder</a>
            </li>
        </ul>
    </div>
</div>
{% endfor %}