{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}Beheerder dashboard{% endblock %}

{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="test">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link active" aria-current="page">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/beheerder/onderzoeken" class="nav-link menu_text">
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a  href="/beheerder/users" class="nav-link menu_text">
                    Gebruikers
                  </a>
                </li>
              </ul>
              <hr>
            </div>
        </nav>


        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div class="text-center" style="padding-top: 20px;">
            <div>
                  <div id="search" style="height: 20px;">
                    <a  style="margin-right: 20px;" onclick="toggleTheme()"><i class="fa-solid fa-circle-half-stroke"></i>      Switch thema </a>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                        <li><a class="dropdown-item" href="/beheerder/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Instellingen</a></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/edit_profile">Profiel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                  </div>
                  <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>

                  <div id="approved_alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="notification-container" class="mb-0 ml-auto"></p>
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                
                

            </div>
            <br>
            <div class="container-fluid" style="border-radius: 20px; padding: 30px">
                <div class="row row-cols-4">
                    <div id="research" class="col border-end">
                        <h2 class="text-center border-bottom pb-1 text-break">Onderzoeken: 0</h2>
                        <div class="card mb-3 flex-fill">
                            <div class="card-body">
                                <h5 class="card-title text-center">placeholder</h5>
                            </div>
                        </div>
                    </div>
                    <div id="experience_expert" class="col border-end">
                        <h2 class="text-center border-bottom pb-1 text-break">Ervaringsdeskundiges: 0</h2>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center text-break">placeholder</h5>
                            </div>
                        </div>
                    </div>
                    <div id="organization" class="col border-end">
                        <h2 class="text-center border-bottom pb-1 text-break">Organisaties: 0</h2>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">placeholder</h5>
                            </div>
                        </div>
                    </div>
                    <div id="attendance_request" class="col">
                        <h2 class="text-center border-bottom pb-1">Deelname verzoeken: 0</h2>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">placeholder</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
      </main>
    </div>
    </div>
    </div>
</div>
{% endblock %}
