{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}{{ data.first_name }} {{ data.last_name }}{% endblock %}

{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="test">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/beheerder/dashboard" class="nav-link active" aria-current="page">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="/beheerder/onderzoeken" class="nav-link menu_text">
                      Onderzoeken
                    </a>
                  </li>
                  <li>
                    <a  href="#" class="nav-link menu_text">
                      Gebruikers
                    </a>
                  </li>
              </ul>
              <hr>
            </div>
        </nav>


        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div class="text-center" style="padding-top: 20px;">
            <div>
                  <div id="search" style="height: 20px;">
                    <a  style="margin-right: 20px;" onclick="toggleTheme()"><i class="fa-solid fa-circle-half-stroke"></i>      Switch thema </a>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                        <li><a class="dropdown-item" href="/beheerder/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Instellingen</a></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/edit_profile">Profiel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                  </div>
                  <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>

                  <div id="approved_alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="notification-container" class="mb-0 ml-auto"></p>
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                
                

            </div>
            <br>
            <div class="container rounded-top border border-bottom-0 bg-primary-subtle text-center">
                <div class="col text-center position-relative">
                    <H1 class="pt-2">
                        {{ data.first_name }} {{ data.last_name }} - Id: {{ data.id}} 
                    </H1>
                    <div class="position-absolute buttons" style="bottom: 10px;">
                        <button type="button" class="btn btn-primary" onclick="location.href='{{ data.id }}/edit';">Bewerk</button>
                        <button type="button" class="btn btn-primary">Verwijder</button>
                    </div>
                    <H6 class="mb-1">Gebruikernaam: {{ data.username }}</H6>
                    <p class="m-0">
                        {% if data.status == 1 %}
                        Status: In afwachting
                        {% elif data.status == 2 %}
                        Status: Goedgekeurd
                        {% elif data.status == 3 %}
                        Status: Afgekeurd
                        {% elif data.status == 4 %}
                        Status: Gesloten
                        {% elif data.status == 5 %}
                        Status: Verwijderd
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="container border rounded-bottom bg-body text-start" style="min-height: 25rem;">
                <div class="row m-1 border-bottom">
                    <H3>Kenmerken</H3>
                    <div class="col-md-auto border-end">
                        <h5>Geboortedatum:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.geboortedatum }}    
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <h5>Geslacht:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {% if data.geslacht == "M" %}
                                Man
                                {% elif data.geslacht == "V" %}
                                Vrouw
                                {% else %}
                                Anders
                                {% endif %}   
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <h5>Beperkingen:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {% if data.Beperkingen.omschrijving %}
                                {{ data.Beperkingen.omschrijving }}
                                {% else %}
                                Geen
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <h5>Gebruikte hulpmiddelen:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.gebruikte_hulpmiddelen }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if data.toezichthouder != NULL %}
                <div class="row m-1 border-bottom">
                    <H3>Toezichthouders</H3>
                    <div class="col-md-auto border-end">
                        <H5>Naam:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.Toezichthouders.voornaam_1 }} {{ data.Toezichthouders.achternaam_1 }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <H5>Naam:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.Toezichthouders.voornaam_2 }} {{ data.Toezichthouders.achternaam_2 }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row m-1 border-bottom">
                    <H3>Contact informatie</H3>
                    <div class="col-md-auto border-end">
                        <h5>Telefoonnummer:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.telefoonnummer }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <h5>E-mail:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.email }}
                            </p>
                        </div>
                    </div>
                    {% if data.toezichthouder != NULL %}
                    <div class="col-md-auto border-end">
                        <h5>Toezichthouders telefoonnummer:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.Toezichthouders.telefoonnummer_1 }} - {{ data.Toezichthouders.telefoonnummer_2 }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-auto border-end">
                        <h5>Postcode:</h5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.postcode }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row m-1 border-bottom">
                    <H3>Toevoegende informatie</H3>
                    <div class="col-md-auto border-end">
                        <H5>Bijzonderingen beschickbaarheid:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.bijzonderheden_beschikbaarheid }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <H5>Bijzonderingen:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {% if data.bijzonderingen != '' %}
                                {{ data.bijzonderheden }}
                                {% else %}
                                -
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <H5>Voorkeur benadering:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.voorkeur_benadering }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <H5>Datum aangemeld:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.date_joined }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if data.datum != NULL %}
                <div class="row m-1 border-bottom">
                    <H3>Keurings informatie:</H3>
                    <div class="col-md-auto border-end">
                        <H5>Keurings datum:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.datum_goedgekeurd }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto border-end">
                        <H5>Gekeurings door:</H5>
                        <div class="container-fluid" tabindex="0">
                            <p>
                                {{ data.goedegekeurd_door }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            </div>
      </main>
    </div>
    </div>
    </div>
</div>
{% endblock %}