<h2 class="text-center border-bottom pb-1">Deelname verzoeken: {{ count_attendance_request }}</h2>
{% for item in attendance_request %}
<div id="{{ item.id }}" class="card text-center mb-3" style="width: 30rem;height: 25rem;cursor: pointer;" tabindex="0" onclick="location.href='dashboard/attendance_request/{{ item.id }}';">
    <div class="card-body">
        <h5 class="card-title">{{ item.ervaringsdeskundige_user.first_name }} {{ item.ervaringsdeskundige_user.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.Onderzoeken.titel }}</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Onderzoek omschrijving:{{ item.Onderzoeken.omschrijving }}</li>
            <li class="list-group-item">
                <a href="/#" class="btn btn-primary">Keur goed</a>
                <a href="/#" class="btn btn-primary">Keur af</a>
                <a href="/#" class="btn btn-danger">verwijder</a>
            </li>
        </ul>
    </div>
</div>
{% endfor %}